* {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(184, 184, 184);
  font-family: Roboto, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.codex-editor__redactor {
  padding-bottom: 40px !important;
}

.ce-block__content {
  margin-left: 0 !important;
} 

.rst__rowContents {
  padding: 20px;
}